# anywhere
# ==========

**/node_modules

# root
# ==========

#node_modules/**
#!node_modules/web-vcore/.yarn/cache
#!node_modules/web-vcore/.yarn/cache/**
#!node_modules/test1
npm-debug.log
.git

# package-specific
# ==========

# client
Packages/client/Source

# common
Packages/common/Source

# server
Packages/server/Source