/node_modules
/NMOverwrites
/.env
/Packages/*/node_modules
/Packages/*/Dist
/Packages/*/tsconfig.tsbuildinfo

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*