/node_modules
/tilt_modules
/.helm
/NMOverwrites
/Temp
/.env
/PulumiOutput_Private.json
/Packages/*/node_modules
/Packages/*/Dist
/Packages/*/tsconfig.tsbuildinfo
/.yalc
/yalc.lock

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
