[toolchain]
#channel = "1.65.0"
# use nightly, so that it's easy to run tests and such (no need for RUSTC_BOOTSTRAP=1 hack everywhere, due to use of feature flags)
# NOTE: Keep this in sync with version of "instrumentisto/rust" in "@RustBase/Dockerfile".
channel = "nightly-2025-06-09"

components = [
	#"rustfmt", "rust-std", "clippy",
	"rustc-codegen-cranelift-preview",
]

#targets = ["wasm32-unknown-unknown", "x86_64-unknown-linux-gnu"]