@import "~web-vcore/Source/Utils/Styles/Entry_Base.scss";

h1 { font-weight: bold; font-size: 25px; margin: 10px 0px; }
h2 { font-weight: bold; font-size: 20px; margin: 9px 0px; }
h3 { font-weight: bold; font-size: 17px; margin: 8px 0px; }
h4 { font-weight: bold; font-size: 14px; margin: 7px 0px; }
h5 { font-weight: bold; font-size: 13px; margin: 6px 0px; }
h6 { font-weight: bold; font-size: 12px; margin: 5px 0px; }

.CodeMirror {
	color: rgba(255,255,255,.7);
}
.CodeMirror-wrap > .CodeMirror-scroll {
	/*overflow: initial !important;
	overflow-y: scroll !important;*/
	// fix for odd display glitch, where first post's editor would show horizontal-scrollbar (even though "marginBottom: -30" is supposed to already fix it) 
	will-change: transform;

	// fix for odd issue, of bottom of codemirror text-area blocking mouse events of part of buttons just beneath it
	pointer-events: none;
	.CodeMirror-sizer {
		pointer-events: auto;
	}
}

.ReactModal__Overlay {
	z-index: 20 !important;
}
// header
.ReactModal__Content > div:first-child {
	border-radius: 3px 3px 0 0;
}

// fallback, for if code-based approach fails
.background {
	//background-image: url(/Images/Backgrounds/WhiteSand_x1920.jpg);
	background-color: #E5E8EC;
	background-position: center bottom;
	background-size: cover;
}
/*@media (min-width: 1921px) {
	.background {
		background-image: url(/Images/Backgrounds/WhiteSand_x3840.jpg);
	}
}*/

.brightScrollBars .scrollBar.vertical {
	filter: none; // revert "filter: none;" from "DMSkin.ts"
	background: rgba(255,255,255,.7) !important;
}
.brightScrollBars .scrollBar.vertical:hover {
	background: rgba(255,255,255,.9) !important;
}


.PaintingCursor {
	cursor: url('/Images/Cursors/Brush.cur'), auto;
}