# note: to abort on panics, we could add [..., "-C", "panic=abort"] to the rustflags below;
#		however, the custom handler in main.rs is preferred, because it lets you customize how much stack-trace detail to print, and "conditionally abort"

# note: be careful about letting too many warnings build up that are not dealt with
# (it seems that warnings getting logged to the console can slow compilation down significantly, if there are a lot of them)

# general
# ==========

[unstable]
codegen-backend = true

[registries.crates-io]
protocol = "sparse"

# profile customization
# ==========

#[profile.release]
# customize opt-level; default: 3 (see: https://docs.rust-embedded.org/book/unsorted/speed-vs-size.html#optimize-for-speed)
# (regarding [incrBuildTime,fileSize] when 1/2/3, as of 2024-03-26: @1:[~3m58s,45.1mb] @2+incr:[~3m01s,47.1mb] @2:[~4m47s,46.7mb] @3:[~4m55s,47.7mb])
#opt-level = 1
# have release builds use incremental compilation
# (regarding [incrBuildTime,fileSize] when on/off, as of 2024-03-26: @whenOff:[~4m55s,47.7mb] @whenOn:[~3m10s,48.0mb])
#incremental = true

# [profile.dev]
# codegen-backend = "cranelift"

# [profile.dev.package."*"]
# codegen-backend = "llvm"
# opt-level = 3

[profile.release]
codegen-backend = "cranelift"
incremental = true
#opt-level = 3 # commented; its lvl3 here by default

[profile.release.package."*"]
codegen-backend = "llvm"
opt-level = 3

# linker: mold
# 2024-05-04: Commented; using mold yields runtime errors, from the rust binaries somehow requiring GLIBC_2.38.
# ...I tried but failed to track down the cause of this requirement (eg. it's not the glibc used during build); have to disable for now.
# ==========

# # for regular (debian:buster-slim) builds (from: https://github.com/rui314/mold#how-to-use)
# [target.x86_64-unknown-linux-gnu]
# linker = "clang"
# rustflags = [
# 	#"-Awarnings",
# 	"-C", "link-arg=-fuse-ld=mold"]

# # for musl-based linux builds (eg. when trying to deploy to an alpine image)
# [target.x86_64-unknown-linux-musl]
# linker = "clang"
# rustflags = [
# 	#"-Awarnings",
# 	"-C", "link-arg=-fuse-ld=mold"]
# #rustflags = ["-Awarnings", "-C", "link-arg=-fuse-ld=/usr/local/bin/mold", "-C", "link-args=-z text"] # suggested on discord
# # from: https://stackoverflow.com/a/70378019
# # this variant doesn't work fsr; get error: "= note: clang: error: unsupported option '--ld-path=/usr/local/bin/mold'"
# #rustflags = ["-Awarnings", "-C", "link-arg=--ld-path=/usr/local/bin/mold"]

# linker: lld
# ==========

[target.x86_64-pc-windows-msvc]
#linker = "rust-lld.exe"
rustflags = [
	#"-Awarnings",
	"-C", "link-arg=-fuse-ld=lld"]

[target.x86_64-pc-windows-gnu]
rustflags = [
	#"-Awarnings",
	"-C", "link-arg=-fuse-ld=lld"]

# as of 2024-05-04, on my Linux Mint laptop, the lld linker was no faster than default/gcc/ld (actually a couple seconds slower these times)
# [target.x86_64-unknown-linux-gnu]
# #rustflags = ["-Awarnings", "-C", "linker=clang", "-C", "link-arg=-fuse-ld=lld"]
# linker = "/usr/bin/clang"
# rustflags = ["-Awarnings", "-Clink-arg=-fuse-ld=lld"]
# #rustflags = ["-Awarnings", "-Clink-arg=-fuse-ld=lld", "-Zshare-generics=y"]