:global {
	@import "base";
	@import "device-sizes";
	@import "standard-classes";
	@import "~normalize.css/normalize";
	@import "Markdown";
	//@import "~katex/dist/katex.min.css"; // has issues with fonts atm (trying to load from server from "/node_modules...")

	//@import "bootstrap/bootstrap";
	/*@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
	@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
	@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css");*/
	//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
	//@import "bootstrap";
	@import "bootstrap-limited";
	@import "bootstrap-social";

	//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);
	@import url("//fonts.googleapis.com/css?family=Roboto:300,400,100,500,900");

	// Some best-practice CSS that's useful for most apps
	// Just remove them if they're not what you want
	html {
		box-sizing: border-box;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: $background;
		font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		@include desktop {
			font-size: 15px;
		}

		@include mobile {
			font-size: 12px;
		}
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	/**, .quick1 { nothing: nothing; }*/
	[type=button] {
		-webkit-appearance: none !important;
	}

	// by tag
	// ==========

	a {
		text-decoration: none !important;
		&:not(.ignoreBaseCSS) {
			color: rgba(100,255,100,.7);
			&:hover { color: rgba(100,255,100,1); }

			> sup, > sub { color: inherit; }
		}
	}

	select {
		background: rgba(255,255,255,.8);
		color: rgba(0,0,0,1);
	}
	input {
		background: rgba(255,255,255,.8);
		color: rgba(0,0,0,1);
		border: 1px solid rgba(0,0,0,.5);
		padding: 2px;
	}
	textarea:not(neverMatch) {
		background: rgba(255,255,255,.8);
		color: rgba(0,0,0,1);
	}

	input:invalid {
		//outline: 1px solid rgba(255,0,0,1);
		outline: none;
		background: rgba(255,200,200,.7);
	}

	p:first-child { margin-top: 0; }
	p:last-child { margin-bottom: 0; }

	table {    
		border-collapse: collapse;
		border-spacing: 0;
		empty-cells: show;
		//min-width: 300;
	}
	table th {
		//color: #222;
		background-color: rgba(0,0,0,.7);
		//font-size: 12px;
		font-weight: 600;
		padding: 1px 3px;
		border: 1px solid rgba(0,0,0,.5);
	}
	table.lighterBackground th {
		background-color: rgba(0,0,0,.5);
	}	
	table td {
		color: rgba(255,255,255,.7);
		//font-size: 12px;
		padding: 1px 3px;
		border: 1px solid rgba(0,0,0,.5);
	}

	// by class
	// ==========

	.unselectable { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	//.unselectable * { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	.selectable { -moz-user-select: text; -webkit-user-select: text; user-select: text; }
	//.selectable * { -moz-user-select: text; -webkit-user-select: text; user-select: text; }

	// selectable -- with auto-cursor
	.selectableAC { -moz-user-select: text; -webkit-user-select: text; user-select: text; cursor: auto; }
	//.selectableAC * { -moz-user-select: text; -webkit-user-select: text; user-select: text; }
	
	//.cursorAuto { cursor: auto; }
	//.cursorAuto * { cursor: auto; }

	/*.unselectable {
		&:not(.neverMatch) { cursor: default; }
		div, span, p, th, td { cursor: default; }
	}
	.selectable {
		&:not(.neverMatch) { cursor: auto; }
		div, span, p, th, td { cursor: auto; }
	}
	/*.cursorAuto:not(.neverMatch) {
		cursor: auto;
		* { cursor: auto; }
	}*#/
	.cursorSet:not(.neverMatch) {
		cursor: inherit;
		* { cursor: inherit; }
	}*/

	div, span, p, th, td {
		//-moz-user-select: inherit; -webkit-user-select: inherit; user-select: inherit;
		cursor: inherit;
	}

	.clickThrough > * { pointer-events: auto; }
	.clickThrough { pointer-events: none; }
	.clickThroughChain { pointer-events: none; }
	.clickThroughChain-break { pointer-events: auto; }

	.hideScrollbar::-webkit-scrollbar { width: 0px; height: 0px; background: transparent; }

	.recharts-cartesian-axis-tick { font-size: 12px; }
	#recharts_measurement_span { font-size: 12px; }

	.recharts-text.recharts-cartesian-axis-tick-value { fill: #AAA; }
	
	/*.Markdown {
		a {
			&:not(.ignoreBaseCSS) {
				color: rgba(100,255,100,.7);
				&:hover {
					color: rgba(100,255,100,1);
				}
			}
		}
	}*/

	.CodeMirror {
		color: rgba(255,255,255,.7);
	}

	.background {
		background-image: url(/Images/Backgrounds/Ocean_x1920.jpg);
		background-position: center bottom;
		background-size: cover;
	}
	@media (min-width: 1921px) {
		.background {
			background-image: url(/Images/Backgrounds/Ocean_x3840.jpg);
		}
	}
}