:global {
	@import 'base';
	@import 'device-sizes';
	@import 'standard-classes';
	@import '~normalize.css/normalize';
	//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);
	@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);

	// Some best-practice CSS that's useful for most apps
	// Just remove them if they're not what you want
	html {
		box-sizing: border-box;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: $background;
		font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		@include desktop {
			font-size: 15px;
		}

		@include mobile {
			font-size: 12px;
		}
	}
	a {
		text-decoration: none !important;
		&:visited {
			text-decoration: none;
			color: inherit;
		}
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	/**, .quick1 { nothing: nothing; }*/
	[type=button] {
		-webkit-appearance: none !important;
	}

	.unselectable { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	.unselectable * { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	.selectable { -moz-user-select: text; -webkit-user-select: text; user-select: text; }
	.selectable * { -moz-user-select: text; -webkit-user-select: text; user-select: text; }

	.clickThrough > * { pointer-events: auto; }
	.clickThrough { pointer-events: none; }
	.clickThroughChain { pointer-events: none; }
	.clickThroughChain-break { pointer-events: auto; }

	.recharts-cartesian-axis-tick { font-size: 12px; }
	#recharts_measurement_span { font-size: 12px; }

	.recharts-text.recharts-cartesian-axis-tick-value { fill: #AAA; }
}