:global {
	@import "base";
	@import "device-sizes";
	@import "standard-classes";
	@import "~normalize.css/normalize";

	//@import "bootstrap/bootstrap";
	/*@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
	@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
	@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css");*/
	//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
	@import "bootstrap";
	@import "bootstrap-social";

	//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);
	@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);

	// Some best-practice CSS that's useful for most apps
	// Just remove them if they're not what you want
	html {
		box-sizing: border-box;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: $background;
		font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		@include desktop {
			font-size: 15px;
		}

		@include mobile {
			font-size: 12px;
		}
	}
	a {
		/*&:not(.ignoreBaseCSS) {
			color: rgba(100,255,100,.7);
			&:hover {
				color: rgba(100,255,100,1);
			}
		}*/
		text-decoration: none !important;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	/**, .quick1 { nothing: nothing; }*/
	[type=button] {
		-webkit-appearance: none !important;
	}

	p:first-child { margin-top: 0; }
	p:last-child { margin-bottom: 0; }

	.unselectable { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	.unselectable * { -moz-user-select: none; -webkit-user-select: none; user-select: none; }
	.selectable { -moz-user-select: text; -webkit-user-select: text; user-select: text; }
	.selectable * { -moz-user-select: text; -webkit-user-select: text; user-select: text; }

	.clickThrough > * { pointer-events: auto; }
	.clickThrough { pointer-events: none; }
	.clickThroughChain { pointer-events: none; }
	.clickThroughChain-break { pointer-events: auto; }

	.recharts-cartesian-axis-tick { font-size: 12px; }
	#recharts_measurement_span { font-size: 12px; }

	.recharts-text.recharts-cartesian-axis-tick-value { fill: #AAA; }

	.Markdown {
		a {
			&:not(.ignoreBaseCSS) {
				color: rgba(100,255,100,.7);
				&:hover {
					color: rgba(100,255,100,1);
				}
			}
		}
	}
}