# ---
# apiVersion: gateway.networking.k8s.io/v1
# kind: GatewayClass
# metadata:
#   name: gateway-class-main
# spec:
#   controllerName: nginx/gateway-controller
---
# We can ask for v1, but we still get v1beta1
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: main-gateway
  namespace: default # test
  annotations:
   cert-manager.io/cluster-issuer: cert-issuer
spec:
  gatewayClassName: nginx
  # cert-manager is picky about the values of these fields; reference this before making changes: https://cert-manager.io/docs/usage/gateway
  listeners:
  # The HTTP (ie. non-HTTPS) listener. It's used for:
  # 1) Serving the proxy requests coming from Cloudflare/[debatemap/debates].app. (will probably switch it to use the HTTPS gateway in the future)
  # 2) Serving the ECMA tls-certificate provisioning process.
  # 3) For various debugging/development purposes.
  - name: http
    protocol: HTTP
    port: 80
    allowedRoutes: {namespaces: {from: All}}
  # origin/ovh
  # todo: maybe switch to having these all part of the same certificate (just re-use the same cert name: https://cert-manager.io/v1.9-docs/usage/gateway/#two-listeners-with-the-same-secret-name)
  # NOTE: zerossl doesn't support certs for hostnames with so many subdomain layers ("DNS identifier has too many labels")
  - {name: https-ovh-us,        hostname: 9m2x1z.nodes.c1.or1.k8s.ovh.us, protocol: HTTPS, port: 443, allowedRoutes: {namespaces: {from: All}}, tls: {mode: Terminate, certificateRefs: [{name: cert-key-ovh-us, kind: Secret}]}}
  - {name: https-debating-app,  hostname: debating.app,                   protocol: HTTPS, port: 443, allowedRoutes: {namespaces: {from: All}}, tls: {mode: Terminate, certificateRefs: [{name: cert-key-debating-app, kind: Secret}]}}
  - {name: https-debatemap-app, hostname: debatemap.app,                  protocol: HTTPS, port: 443, allowedRoutes: {namespaces: {from: All}}, tls: {mode: Terminate, certificateRefs: [{name: cert-key-debatemap-app, kind: Secret}]}}
  - {name: https-debates-app,   hostname: debates.app,                    protocol: HTTPS, port: 443, allowedRoutes: {namespaces: {from: All}}, tls: {mode: Terminate, certificateRefs: [{name: cert-key-debates-app, kind: Secret}]}}
  - {name: https-dm-sl-org,     hostname: debatemap.societylibrary.org,   protocol: HTTPS, port: 443, allowedRoutes: {namespaces: {from: All}}, tls: {mode: Terminate, certificateRefs: [{name: cert-key-dm-sl-org, kind: Secret}]}}