# ---
# apiVersion: gateway.networking.k8s.io/v1
# kind: GatewayClass
# metadata:
#   name: gateway-class-main
# spec:
#   controllerName: nginx/gateway-controller

# The HTTP (ie. non-HTTPS) gateway. It's used for:
# 1) Serving the proxy requests coming from Cloudflare/[debatemap/debates].app. (will probably switch it to use the HTTPS gateway in the future)
# 2) Serving the ECMA tls-certificate provisioning process.
# 3) For various debugging/development purposes.
---
# We can ask for v1, but we still get v1beta1
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: main-gateway
  namespace: default # test
  annotations:
   cert-manager.io/cluster-issuer: zerossl-issuer
spec:
  gatewayClassName: nginx
  # cert-manager is picky about the values of these fields; reference this before making changes: https://cert-manager.io/docs/usage/gateway
  listeners:
  - name: http
    #hostname: 9m2x1z.nodes.c1.or1.k8s.ovh.us
    protocol: HTTP
    #containerPort: 31099
    #nodePort: 31099
    port: 80
    #targetPort: 31099
    #port: 8009
    #port: 8005
    # this should be fine; commented for now to reduce potential for mistakes
    # allowedRoutes:
    #   namespaces:
    #     from: All
  # origin/ovh
  # todo: maybe switch to having these all part of the same certificate (just re-use the same cert name: https://cert-manager.io/v1.9-docs/usage/gateway/#two-listeners-with-the-same-secret-name)
  # first entry commented, because zerossl doesn't support certs for hostnames with so many subdomain layers ("DNS identifier has too many labels")
  #- {name: https-d1, hostname: 9m2x1z.nodes.c1.or1.k8s.ovh.us, protocol: HTTPS, port: 443, tls: {mode: Terminate, certificateRefs: [{name: zerossl-key-d1, kind: Secret}]}}
  - {name: https-d2, hostname: debating.app,                   protocol: HTTPS, port: 443, tls: {mode: Terminate, certificateRefs: [{name: zerossl-key-d2, kind: Secret}]}}
  - {name: https-d3, hostname: debatemap.app,                  protocol: HTTPS, port: 443, tls: {mode: Terminate, certificateRefs: [{name: zerossl-key-d3, kind: Secret}]}}
  - {name: https-d4, hostname: debates.app,                    protocol: HTTPS, port: 443, tls: {mode: Terminate, certificateRefs: [{name: zerossl-key-d4, kind: Secret}]}}
  - {name: https-d5, hostname: debatemap.societylibrary.org,   protocol: HTTPS, port: 443, tls: {mode: Terminate, certificateRefs: [{name: zerossl-key-d5, kind: Secret}]}}


# gateway for the "monitoring" namespace
# ---
# apiVersion: gateway.networking.k8s.io/v1
# kind: Gateway
# metadata:
#   name: gateway-for-monitoring-namespace
#   namespace: monitoring
# spec:
#   gatewayClassName: foo-lb
#   listeners:
#   - name: prod-web
#     port: 80
#     protocol: HTTP
#     allowedRoutes:
#       kinds:
#         - kind: HTTPRoute
#       namespaces:
#         from: Selector
#         selector:
#           matchLabels:
#             # This label is added automatically as of K8s 1.22 to all namespaces
#             kubernetes.io/metadata.name: route-grafana