---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: HTTPRoute
metadata:
  name: route-web-server
  namespace: default
spec:
  parentRefs:
    - name: gateway-http
    - name: gateway-https
  hostnames:
  - "9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "debating.app"
  - "debatemap.app"
  - "debates.app"
  rules:
    -
      # matches:
      #   - path:
      #       #type: Exact
      #       # match all paths, except for those starting with "/.well-known" (since that signifies an ACME certificate-challenge solver request, which will break if handled by this route)
      #       type: RegularExpression
      #       #value: "^(?!/.well-known)"
      #       #value: "^(?!/\\.well-known)"
      #       value: "/[a-zA-Z0-9_-]" # basically, match everything except a path that starts with "/." (see above)
      # matches:
      #   - path:
      #       type: Exact
      #       value: "/test1"
      backendRefs:
        - name: dm-web-server
          port: 5100
---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: HTTPRoute
metadata:
  name: route-app-server
  namespace: default
spec:
  parentRefs:
    - name: gateway-http
    - name: gateway-https
  hostnames:
  - "app-server.9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "app-server.debating.app"
  - "app-server.debatemap.app"
  - "app-server.debates.app"
  rules:
    - backendRefs:
      - name: dm-app-server
        port: 5110
      #matches: [{path: {type: Exact, value: "/test1"}}]
---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: HTTPRoute
metadata:
  name: route-monitor
  namespace: default
spec:
  parentRefs:
    - name: gateway-http
    - name: gateway-https
  hostnames:
  - "monitor.9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "monitor.debating.app"
  - "monitor.debatemap.app"
  - "monitor.debates.app"
  rules:
    - backendRefs:
      - name: dm-monitor-backend
        port: 5130
      #matches: [{path: {type: Exact, value: "/test1"}}]