---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: route-web-server
  namespace: default
spec:
  parentRefs:
    - {name: main-gateway, sectionName: http}
    #- {name: main-gateway, sectionName: https-ovh-us}
    - {name: main-gateway, sectionName: https-debating-app}
    - {name: main-gateway, sectionName: https-debatemap-app}
    - {name: main-gateway, sectionName: https-debates-app}
    - {name: main-gateway, sectionName: https-dm-sl-org}
  hostnames:
  - "localhost"
  - "9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "debating.app"
  - "debatemap.app"
  - "debates.app"
  - "debatemap.societylibrary.org"
  rules:
    - backendRefs:
        - name: dm-web-server
          port: 5100
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: route-app-server
  namespace: default
spec:
  parentRefs:
    - {name: main-gateway, sectionName: http}
    - {name: main-gateway, sectionName: https-debating-app}
    - {name: main-gateway, sectionName: https-debatemap-app}
    - {name: main-gateway, sectionName: https-debates-app}
    - {name: main-gateway, sectionName: https-dm-sl-org}
  hostnames:
  - "localhost"
  - "9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "debating.app"
  - "debatemap.app"
  - "debates.app"
  - "debatemap.societylibrary.org"
  rules:
    - backendRefs:
      - name: dm-app-server
        port: 5110
      matches: [
        {path: {type: PathPrefix, value: "/app-server"}}
      ]
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: route-monitor
  namespace: default
spec:
  parentRefs:
    - {name: main-gateway, sectionName: http}
    - {name: main-gateway, sectionName: https-debating-app}
    - {name: main-gateway, sectionName: https-debatemap-app}
    - {name: main-gateway, sectionName: https-debates-app}
    - {name: main-gateway, sectionName: https-dm-sl-org}
  hostnames:
  - "localhost"
  - "9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "debating.app"
  - "debatemap.app"
  - "debates.app"
  - "debatemap.societylibrary.org"
  rules:
    - backendRefs:
      - name: dm-monitor-backend
        port: 5130
      matches: [
        {path: {type: PathPrefix, value: "/monitor"}}
      ]
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /

# in other namespaces
# ==========

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: route-grafana
  namespace: monitoring
spec:
  parentRefs:
    - {name: main-gateway, sectionName: http}
    - {name: main-gateway, sectionName: https-debating-app}
    - {name: main-gateway, sectionName: https-debatemap-app}
    - {name: main-gateway, sectionName: https-debates-app}
    - {name: main-gateway, sectionName: https-dm-sl-org}
  hostnames:
  - "localhost"
  - "9m2x1z.nodes.c1.or1.k8s.ovh.us"
  - "debating.app"
  - "debatemap.app"
  - "debates.app"
  - "debatemap.societylibrary.org"
  rules:
    - backendRefs:
      - name: loki-stack-grafana
        port: 3000
        #port: 80
      matches: [
        {path: {type: PathPrefix, value: "/grafana"}}
      ]
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /