apiVersion: v1
kind: Service
metadata:
  name: dm-web-server
  #namespace: app
  labels:
    app: dm-web-server
spec:
  #clusterIP: None
  selector:
    app: dm-web-server
  # to make it accessible outside of cluster
  type: NodePort
  ports:
    - port: 3005
      targetPort: 3005
      nodePort: 31005
      protocol: TCP
      #name: web
      #name: websecure
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dm-web-server
  #namespace: app
  labels:
    app: dm-web-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dm-web-server
  template:
    metadata:
      labels:
        app: dm-web-server
    spec:
      imagePullSecrets:
        - name: registry-credentials
      containers:
        - name: dm-web-server
          image: gcr.io/debate-map-prod/dm-web-server
          #livenessProbe: TODO
          ports:
            - name: websecure
              containerPort: 3005