name: Save cargo build timing information

on: [push, pull_request]

jobs:
  linux-ubuntu:
    name: Add build timing information to another repository
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4
        with:
          path: debate-map
      - name: Build Timing
        working-directory: debate-map
        run: cargo build --package app-server --timings

      - name: Checkout compile timings repo
        uses: actions/checkout@v4
        with:
          repository: debate-map/compile-timings
          path : compile-timings
          token : ${{ secrets.PAT }}

      - name: Create required directories & copy raw timing file (with the timestamp in it's name) to target repository's timings/raw_html directory
        run: |
          mkdir -p compile-timings/docs/timings/raw_html
          mv debate-map/target/cargo-timings/cargo-timing-* compile-timings/docs/timings/raw_html

      - name: Commit and push changes
        working-directory: compile-timings
        run: |
          git config user.name "compile-timings[bot]"
          git config user.email debatemap@gmail.com
          git add docs/timings/raw_html
          NEW_BUILD_HTML_FILE=$(ls -t docs/timings/raw_html/ | head -n1)
          git commit -m "ci: add build timing html file $NEW_BUILD_HTML_FILE"
          git push
